body {
  font: 14px'Baloo Tamma', cursive;
}

* {
	margin: 0;
	padding: 0;
}

.container{
	width: 80%;
	margin: auto;
}

a, a:link, a:visited {
	text-decoration: none;
	color: #000;
	padding: 0 20px 0 40px;
}

ul {
	list-style-type: none;
	display: none;
	margin: 0 auto;
}

ul.color-menu li {
	padding: 15px;
	font-size: 20px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	text-transform: uppercase;
	color: #fff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	text-shadow: rgba(0,0,0,0.4) 1px 1px 2px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
}

ul.color-menu li:hover {
	-webkit-transform: scale(1.2);
	cursor: pointer;
}

ul.color-menu li:hover a{
	color: #fff;
	padding: 0 20px 0 40px; 
}
	
.red {background-color: #FF0000;}
.brick {background-color: #FF3300;}
.orange {background-color: #FF8000;}
.yellow {background-color: #FFDD00;}
.lime {background-color: #ABFF00;}
.green {background-color: #45FF00;}
.bondi {background-color: #00FF79;}
.aqua {background-color: #00FFE0;}
.blue {background-color: #0055FF;}
.navy {background-color: #1800FF;}
.purple {background-color: #7800FF;}
.violet {background-color: #C000FF;}
.pink {background-color: #FF00E6;}

/*
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

ul, ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:active,
a:hover {
  outline-width: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



.menu > li {
	background: #34495e;
	float: left;
	position: relative;
	transform: skewX(25deg);
}

.menu a {
	display: block;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-family: inherit;
	font-size: 14px;
}		

.menu li:hover,
.menu li.active {
	background: #e74c3c;
}		

.menu > li > a {
	transform: skewX(-25deg);
	padding: 1em 2em;
}
*/

