body {
  font: 14px'Baloo Tamma', cursive;
  background: 
	radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%),
	radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%),
	radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%),
	radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%),
	radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%),

	radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
	radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
	radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
	radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
	radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%) 50px 50px;
	background-color:#b03;
	background-size:100px 100px;
}

* {
	margin: 0;
	padding: 0;
}

.container{
	width: 80%;
	margin: auto;
}

h1{
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	font-size: 2.5em;
}

a, a:link, a:visited {
	text-decoration: none;
	color: #000;
	padding: 0 20px 0 40px;
}

ul {
	list-style-type: none;
	display: none;
	margin: 0 auto;
}

ul.color-menu li {
	padding: 15px;
	font-size: 20px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	text-transform: uppercase;
	color: #fff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	text-shadow: rgba(0,0,0,0.4) 1px 1px 2px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
}

ul.color-menu li:hover {
	-webkit-transform: scale(1.2);
	cursor: pointer;
}

ul.color-menu li:hover a{
	color: #fff;
	padding: 0 20px 0 40px; 
}
	
.red {background-color: #FF0000;}
.brick {background-color: #FF3300;}
.orange {background-color: #FF8000;}
.yellow {background-color: #FFDD00;}
.lime {background-color: #ABFF00;}
.green {background-color: #45FF00;}
.bondi {background-color: #00FF79;}
.aqua {background-color: #00FFE0;}
.blue {background-color: #0055FF;}
.navy {background-color: #1800FF;}
.purple {background-color: #7800FF;}
.violet {background-color: #C000FF;}
.pink {background-color: #FF00E6;}



