body{
	font-size: 14px;
	line-height: 22px;
}


.nav{
	&-item a{
		font{
			family: $font-roboto;
			weight: 900;
			size: 0.93em;
		}
		color: #ffffff;
		text-transform: uppercase;		
	}
	&-item a:hover,
	&-item a.active{
		color:$primary-color;
	}
}


.about{
		h1{
			@include font($font-playfair, 1.6em, $font-dark);
		}
		p{
			@include font($font-roboto, 1em, $font-dark);
		}
	}

