$primary-color: #00e0d0;
$second-color:#c6c4c9;
$third-color:#655d80;
$font-light: #fff;
$font-dark: #413d4b;

$font-roboto: 'Roboto', sans-serif;
$font-playfair: 'Playfair Display', serif;
$font-hammer: 'Hammersmith One', sans-serif;


