@import "components/variables.scss";

@import "components/mixins.scss";
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{	
	font-size:0;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	@include size(15px, 25px);
	
}
#owl-carousel2{
	.owl-buttons{
		position: relative;		
	}
	.owl-prev{
		position: absolute;
		top: -40px;
		left: 278px;
		background: url("../images/icons/back.png") no-repeat;
	}
	.owl-next{
		position: absolute;
		top:-40px;
		right: 278px;
		background: url("../images/icons/forward.png") no-repeat;
	}
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	@include transform(scale(1.2));
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
#owl-carousel{
	.owl-page{
		span{
			display: block;
			width: 12px;
			height: 12px;
			margin: 5px;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			border: 1px solid #ffffff;
		}
		&.active,
		&:hover{				
			span{
				background: #00e0d0;
				border: none;
				}
		}
	}
}


#owl-carousel2{
		.owl-controls{
			padding-bottom: 6%;
		}
			.owl-page{
			margin: 0 1%;
			span{
			display: block;
			@include size(45px);
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			border: none;					
			}			
			&:hover{
				@include transform(scale(1.6));	
				margin: 0 2%;
			}		
			&:first-child{
				background: url("../images/icons/ava1.png") no-repeat;					
			}
			&:nth-child(2){
				background: url("../images/icons/ava2.png") no-repeat;
			}
			&:nth-child(3){
				background: url("../images/icons/ava-active.png") no-repeat;
				@include transform(scale(1.6));	
				margin: 0 2%;
			}
			&:nth-child(4){
				background: url("../images/icons/ava4.png") no-repeat;
			}
			&:nth-child(5){
				background: url("../images/icons/ava5.png") no-repeat;
			}
		}
}




/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center;
}


#owl-carousel{
	h1{ 
		@include font ($font-playfair, 2.3em, $font-light);
		margin-bottom: 3%;
	}
	 .after-header {
		display: inline-block;
		@include size (50px, 2px);
		background-color: $primary-color;
		margin-bottom: 2.5%;
	}
	p{
		@include font ($font-roboto, 1em, $font-light);
		line-height: 24px;
		margin-bottom: 6%;
	}
}

#owl-carousel2{
	.item{
		.team-icon{
			@include font ($font-playfair, 7em, $font-light);
		}
		.team-info{
			margin-bottom: 5%;
		}
		h2{
			text-transform: uppercase;
			@include font ($font-roboto, 1em, $font-light);
			font-weight: 900;
		}
		.team-position{
			text-transform: uppercase;
			@include font ($font-roboto, 0.93em, $font-light);
			font-weight: 300;
			margin-bottom: 3%;
		}
	}
}