html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
:before,
:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  overflow: hidden;
  display: table;
  max-width: 1500px;
  height: 100vh;
  table-layout: fixed;
}

.footer {
  display: table-footer-group;
  height: 1%;
}

.container {
  margin: auto;
  max-width: 70.53333%;
  padding: 0 0 10px;
}

.container-w73 {
  width: 72.3%;
  margin: auto;
}

body {
  color: #83a7a5;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.57;
  font-family: "Roboto", Arial, sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
}

h1,
.h1 {
  font-size: 38px;
  margin: 0;
}

h2,
.h2 {
  font-size: 32px;
  margin: 0;
}

h3,
.h3 {
  font-size: 28px;
  margin: 0;
}

h4,
.h4 {
  font-size: 24px;
  margin: 0;
}

h5,
.h5 {
  font-size: 20px;
  margin: 1em;
}

h6,
.h6 {
  font-size: 16px;
  margin: 0;
}

.btn {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: normal;
  color: #fff;
  font-size: 14px;
  background: #6fb048;
  border: 1px solid #6fb048;
  border-radius: 2px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.btn-primary {
  font-size: 14px;
  padding: 17px 42px;
  border-radius: 2px;
}

.btn-same-bg {
  color: #fff;
  background: #49732f;
  border-color: #49732f;
}

.btn-same-bg:hover {
  color: #fff;
  background: #83a7a5;
  border-color: #83a7a5;
}

.btn-form {
  font-size: 13px;
  padding: 10px 45px;
  border-radius: 2px;
}

.btn:hover {
  color: lighten #fff, 10%;
  background: #83a7a5;
  border-color: #83a7a5;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  display: block;
  color: #000;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #eaeef1;
  border-radius: 2px;
  height: 44px;
  line-height: 1.4;
  padding: 12.2px 20px;
}

.form-control::-webkit-input-placeholder {
  color: #83a7a5;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #83a7a5;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #83a7a5;
  opacity: 1;
}

.form-control-secondary {
  background-color: #eef1ec;
  padding-right: 20%;
}

.form-label {
  display: block;
  color: #eaeef1;
  font-size: 14px;
  margin-bottom: 4px;
}

.form-icon {
  position: absolute;
  top: 27%;
  right: 7%;
}

.form-icon:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

textarea {
  resize: none;
  overflow: auto;
}

textarea.form-control {
  height: auto;
}

.block {
  padding: 0;
  background-size: cover;
  background-position: 50% 50%;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.block-header {
  display: table-header-group;
  height: 1%;
}

.block-content {
  display: table-row-group;
}

.block-footer {
  display: table-footer-group;
  height: 1%;
}

.block-inner {
  display: table-cell;
  vertical-align: middle;
}

.block-collapse {
  padding: 0;
}

.block-fill-height {
  height: 100vh;
}

.block-full-height {
  height: 100%;
}

.block-inverse {
  color: #fff;
}

.block-overlay {
  position: relative;
  z-index: 1;
}

.block-overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: inherit;
  opacity: 0.9;
}

.block-overlay-2 {
  position: relative;
  z-index: 1;
}

.block-overlay-2:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: inherit;
  opacity: 0.7;
}

.block-heading {
  color: #0f5f5c;
  position: relative;
}

.block-heading h2 {
  font-weight: 300;
}

.block-heading h1 {
  font-weight: 400;
}

.block-heading-after::after {
  position: absolute;
  content: "";
  display: inline-block;
  height: 1px;
  width: 65px;
  background-color: #6fb048;
  text-align: center;
  left: 47%;
}

.block-heading-green {
  color: #6fb048;
}

.block-heading-light {
  color: #fff;
}

.block-center {
  text-align: center;
}

.block-align-left {
  text-align: left;
}

.block-align-right {
  text-align: right;
}

.block-image img {
  width: 100%;
}

.block-email {
  color: #0f5f5c;
  font-size: 18px;
  font-weight: 400;
}

.row {
  margin: 0 -10px;
}

.row::before, .row::after {
  content: '';
  display: table;
}

.row::after {
  clear: both;
}

[class*="col-"] {
  padding: 0 10px;
  float: left;
}

@media all and (min-width: 480px) {
  .col-xs-1 {
    width: 8.33333%;
  }
  .col-xs-2 {
    width: 16.66667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333%;
  }
  .col-xs-5 {
    width: 41.66667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333%;
  }
  .col-xs-8 {
    width: 66.66667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333%;
  }
  .col-xs-11 {
    width: 91.66667%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xs-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xs-offset-12 {
    margin-left: 100%;
  }
}

@media all and (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media all and (min-width: 980px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media all and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

.navbar {
  border-bottom: 1px solid #fff;
  padding: 3% 0;
}

.navbar::before, .navbar::after {
  content: '';
  display: table;
}

.navbar::after {
  clear: both;
}

.navbar-grey {
  border-bottom: 1px solid #83a7a5;
}

.navbar-logo {
  float: left;
  padding-right: 2.5%;
  margin-right: 2%;
  margin-top: 0.5%;
  border-right: 1px solid #fff;
}

.navbar-logo img {
  display: block;
}

.navbar-logo-grey {
  border-right: 1px solid #83a7a5;
}

.navbar-nav {
  display: inline-block;
  text-align: right;
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-transform: uppercase;
}

.navbar-toggler {
  display: none;
  float: right;
  height: 50px;
  padding: 10px;
  width: 50px;
}

.navbar-info {
  position: relative;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  padding-left: 2%;
  margin-top: 0.5%;
}

.navbar-info-l::before {
  position: absolute;
  top: 10%;
  left: 0;
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../images/icons/vector-phone.png") no-repeat 0 0;
}

.navbar-info-g::before {
  position: absolute;
  top: 10%;
  left: 0;
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../images/icons/vector-phone-g.png") no-repeat 0 0;
}

.navbar-item {
  display: inline-block;
  vertical-align: top;
}

.navbar-collapse {
  display: inline-block;
  float: right;
}

.navbar-link {
  display: block;
  color: #fff;
  padding: 5px 10px;
  opacity: 0.7;
  font-weight: bold;
  font-size: 13px;
}

.navbar-link:hover, .navbar-link.active {
  opacity: 1;
}

.navbar-link-grey {
  color: #83a7a5;
}

.navbar-link-grey:hover {
  color: #6fb048;
}

.navbar-btn {
  font-size: 12px;
  padding: 7px 12px;
  border-radius: 2px;
  margin-top: -2%;
  font-weight: bold;
  color: #fff;
  background: rgba(255, 255, 255, 0.35);
  border-color: rgba(255, 255, 255, 0);
}

.navbar-btn:hover {
  color: #fff;
  background: #6fb048;
  border-color: #6fb048;
}

.navbar-btn-grey {
  color: #fff;
  background: #6fb048;
  border-color: #6fb048;
}

.navbar-btn-grey:hover {
  color: #fff;
  background: #83a7a5;
  border-color: #83a7a5;
}

.icon-bar {
  display: block;
  height: 2px;
  background-color: currentColor;
}

.icon-bar + .icon-bar {
  margin-top: 4px;
}

.feature {
  margin-bottom: 4%;
}

.feature-header {
  margin-bottom: 2%;
}

.feature-icon {
  display: inline-block;
  margin-bottom: 4%;
}

.feature-inline {
  margin-bottom: 4%;
}

.feature-inline > * {
  display: inline-block;
  vertical-align: middle;
}

.feature-inline .feature-icon {
  margin-right: 10px;
  margin-bottom: 0;
  height: 38px;
}

.feature-separate {
  margin-bottom: 4%;
}

.testemonials {
  padding: 10% 0;
}

.testemonials-text {
  font-size: 22px;
  padding: 20% 3% 0 0;
  margin-bottom: 4%;
}

.testemonials-caption {
  line-height: 22px;
}

.testemonials-title {
  color: #6fb048;
}

.card::before, .card::after {
  content: '';
  display: table;
}

.card::after {
  clear: both;
}

.card-item {
  float: left;
  background: #fff;
  padding: 2.5% 0 3.5%;
  width: 33.33333%;
  border: 1px solid #c1d3d2;
  margin-right: -1px;
}

.card-item:last-child {
  margin-right: 0;
}

.card-title {
  color: #6fb048;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 7%;
}

.card-price {
  color: #0f5f5c;
  font-family: "Montserrat", sans-serif;
  font-size: 65px;
  font-weight: 400;
  line-height: 0.75em;
}

.card-price-caption {
  margin-bottom: 7%;
}

.card-list {
  line-height: 1.75em;
  padding-bottom: 7%;
}

.card-btn {
  font-size: 13px;
  padding: 13px 23px;
  border-radius: 2px;
  color: #fff;
  background: #83a7a5;
  border-color: #83a7a5;
}

.card-btn:hover {
  color: #fff;
  background: #6fb048;
  border-color: #6fb048;
}

.card .best {
  color: #fff;
  background: #6fb048;
  border-color: #6fb048;
}

.card .best:hover {
  color: #fff;
  background: #83a7a5;
  border-color: #83a7a5;
}

.footer-logo img {
  display: block;
}

.footer-heading {
  font-size: 13px;
  font-weight: 500;
  color: #0f5f5c;
  margin-bottom: 3%;
}

.footer-list {
  line-height: 1.75em;
}

.footer-item a {
  color: inherit;
}

.footer-item-dark {
  color: #0f5f5c;
  font-weight: 500;
}

.footer-wrap-bordered {
  border-bottom: 1px solid #eef1ec;
}

.footer-copyright {
  float: left;
}

.socials-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
}

.socials-icon:last-child {
  margin-right: 0px;
}

.socials-icon:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.p-0 {
  padding: 0;
}

.p-t-23 {
  padding-top: 23%;
}

.p-l-37 {
  padding-left: 37px;
}

.p-r-18 {
  padding-right: 18%;
}

.p-2 {
  padding: 2% 0 0;
}

.p-5 {
  padding: 0.5% 0 0;
}

.p-10 {
  padding: 1.5% 0 1%;
}

.p-95 {
  padding: 8% 0;
}

.p-75-0 {
  padding: 6% 0 0;
}

.p-75 {
  padding: 6% 0;
}

.p-4 {
  padding: 4% 0;
}

.p-60 {
  padding: 12% 0;
}

.p-10-6 {
  padding: 10% 0 6%;
}

.p-0-15 {
  padding: 0 15%;
}

.p-0-24 {
  padding: 0 24%;
}

.m-b-m16 {
  margin-bottom: -16px;
}

.m-b-15 {
  margin-bottom: 1.5%;
}

.m-b-20 {
  margin-bottom: 2%;
}

.m-b-25 {
  margin-bottom: 2.5%;
}

.m-b-30 {
  margin-bottom: 3%;
}

.m-b-35 {
  margin-bottom: 3.5%;
}

.m-b-40 {
  margin-bottom: 4%;
}

.m-b-70 {
  margin-bottom: 7%;
}

.m-b-5 {
  margin-bottom: 5%;
}

.m-b-10 {
  margin-bottom: 10%;
}

.info-heading {
  color: #0f5f5c;
}

.info-heading h2 {
  font-weight: 300;
}

.info-list {
  text-align: left;
}

.info-item {
  position: relative;
  line-height: 38px;
}

.info-item::before {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background: transparent url(../images/icons/check.png) no-repeat 0 0;
}

.team-heading {
  color: #0f5f5c;
  font-size: 15px;
  font-weight: 500;
}

.headquarter {
  text-align: left;
  line-height: 1.375em;
}

.headquarter-bordered {
  border: 2px dashed #c1d3d2;
  width: 80%;
  margin: 0 auto;
  padding: 7% 0 7% 7%;
}

.headquarter-heading {
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 3%;
}

.headquarter-item {
  position: relative;
  padding-left: 10%;
  margin-bottom: 4%;
}

.headquarter-item-adress::before {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  display: inline-block;
  width: 14px;
  height: 20px;
  background: url(../images/icons/vector-adress.png) no-repeat 0 0;
}

.headquarter-item-phone::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/icons/vector-phone-green.png) no-repeat 0 0;
}

.headquarter-item-email {
  color: #0f5f5c;
}

.headquarter-item-email::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 18px;
  height: 12px;
  background: url(../images/icons/vector-mail.png) no-repeat 0 0;
}

.bg-grey {
  background-color: #eef1ec;
}

.bg-primary {
  background-color: #2d6e70;
}

.bg-gradient {
  background-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
}

.bg-tw {
  background-color: #55acee;
}

.bg-fb {
  background-color: #3b5998;
}

.bg-inst {
  background-color: #3f729b;
}

.bg-drib {
  background-color: #ea4c89;
}

.bg-git {
  background-color: #333;
}

.color-light {
  color: #fff;
}

.color-grey {
  color: #83a7a5;
}
