/*Counter icon before feature's item*/
.features li.features__item::before{
    position: absolute;
    content: '';
    background: url('../images/icons/01).png') no-repeat;
    top: -10px;
    left: 20px;
    width: 39px;
    height: 41px;
    text-align: center;
}

.features .features__item:nth-child(2)::before {
    background: url('../images/icons/02).png') no-repeat;
}

.features .features__item:nth-child(3)::before {
    background: url('../images/icons/03).png') no-repeat;
}

/*Style for placeholder in the form*/
input::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
input:-moz-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
textarea::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
textarea:-moz-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}