
$card-border-color: #c1d3d2 !default;
$card-item-bg: #fff;

$card-item-padding: 2.5% 0 3.5% !default;
$card-item-width: 100/3+% !default;

$card-title-color: $btn-bg !default;
$card-title-font-size: 15px !default;
$card-title-font-weight: 500 !default;
$card-title-text-transform: uppercase !default;
$card-title-margin-bottom: 7% !default;

$card-price-color: #0f5f5c !default;
$card-price-font-family: 'Montserrat', sans-serif !default;
$card-price-font-size: 65px !default;
$card-price-font-weight: 400 !default;
$card-price-line-height: 0.75em !default;
$card-price-margin-bottom: $card-title-margin-bottom !default;

$card-list-padding-bottom: 7% !default;
$card-list-line-height: 1.75em !default;




.card{	
	@include clearfix();
	&-item{
		float: left;
		background: $card-item-bg;
		padding: $card-item-padding;
		width: $card-item-width;
		border: 1px solid $card-border-color;
		margin-right: -1px;
		&:last-child{
			margin-right: 0;
		}
	}
	&-title{
	color: $card-title-color;
	font-size: $card-title-font-size;
	font-weight: $card-title-font-weight;
	text-transform: $card-title-text-transform;
	margin-bottom: $card-title-margin-bottom;

	}
	&-caption{

	}
	&-price{
	color: $card-price-color;
	font-family: $card-price-font-family;
	font-size: $card-price-font-size;
	font-weight: $card-price-font-weight;
	line-height: $card-price-line-height;
		&-caption{
		margin-bottom: $card-price-margin-bottom;
		}		
	}
	&-list{
		line-height: $card-list-line-height;
		padding-bottom: $card-list-padding-bottom;
		&-item{		
		}
	}
	&-btn{
		@include btn-size(13px,13px 23px);
		@include btn-variants($btn-color, $btn-bg-hover, $btn-bg-hover, 
		$btn-color, $btn-bg, $btn-bg);
	}
	.best{
			@include btn-variants( 
			$btn-color, $btn-bg, $btn-bg, 
			$btn-color, $btn-bg-hover, $btn-bg-hover);
	}
		
}