$feature-margin-bottom: 4%;

.feature{
	margin-bottom: $feature-margin-bottom;
	&-header{
	margin-bottom: $feature-margin-bottom/2;
	}
	&-icon{
		display: inline-block;
		margin-bottom: $feature-margin-bottom;
	}
	&-heading{
	
	}
	&-content{

	}
	&-inline{
		margin-bottom: $feature-margin-bottom;
		>*{
			display: inline-block;
			vertical-align: middle;

		}
		.feature{
			&-icon{
				margin-right: 10px;
				margin-bottom: 0;
				height: 38px; 
			}				
		}
	}	
	&-separate{
		margin-bottom: $feature-margin-bottom;
	}

}