.footer{
	&-logo{
		img{
			display: block;
		}
	}
	&-heading{
		font-size: 13px;
		font-weight: 500;
		color: #0f5f5c;


	}
	&-list{

	}
	&-item{
	a{
		color: inherit;
	}
	}
	&-wrap{
		border-bottom: 1px solid #eef1ec;
	}
	&-copyright{
		float:left;
	}
}