$wrapper-width: 1500px !default;
$container-width: 1058px !default;
$container-gutter: 0 10px !default;

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

*,
&:before,
&:after {
    box-sizing: inherit;
}

body {
    margin: 0;


}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
	overflow: hidden;
	display: table;
	max-width: $wrapper-width;
	height: 100vh;
	table-layout: fixed;
}
.footer {
	display: table-footer-group;
	height: 1%;
}

.container {
	margin: auto;
	max-width: $container-width/$wrapper-width*100%;
	padding: 0 $container-gutter;
	&-w73{
		width: 72.3%;
		margin: auto;
	}
}
