$headquarter-border-size: 2px !default;
$headquarter-border-color: #c1d3d2 !default;
$headquarter-line-height: 1.375em !default;
$headquarter-padding: 7% 0 7% 7% !default;

$headquarter-heading-font-size: 22px!default;
$headquarter-heading-font-weight: 300!default;
$headquarter-heading-text-transform: uppercase !default;
$headquarter-heading--margin-bottom: 3% !default; 

$headquarter-item-padding-left: 10% !default;
$headquarter-item-margin-bottom: 4% !default;

$headquarter-bordered-width: 80% !default;

.headquarter{
	text-align: left;	
	line-height: $headquarter-line-height;
	&-bordered{
		border: $headquarter-border-size dashed $headquarter-border-color;
		width: $headquarter-bordered-width;
		margin: 0 auto;
		padding: $headquarter-padding; 
	}
	&-heading{
		font-size: $headquarter-heading-font-size;
		font-weight: $headquarter-heading-font-weight;
		text-transform: $headquarter-heading-text-transform;
		margin-bottom: 3%;
	}
	&-list{		

	}
	&-item{
		position: relative;
		padding-left: $headquarter-item-padding-left;
		margin-bottom: $headquarter-item-margin-bottom;
		&-adress{
			&::before{		
				position: absolute;
				top: 5px;
				left: 0;			
				content: "";
				display: inline-block;
				width: 14px;
				height: 20px;
				background: url(../images/icons/vector-adress.png) no-repeat 0 0;
			}
		}
		&-phone{
			&::before{
				position: absolute;
				top: 0;
				left: 0;			
				content: "";
				display: inline-block;
				width: 16px;
				height: 16px;
				background: url(../images/icons/vector-phone-green.png) no-repeat 0 0;
			}
		}
		&-email{
			color: $block-heading-color;
			&::before{
				position: absolute;
				top: 0;
				left: 0;			
				content: "";
				display: inline-block;
				width: 18px;
				height: 12px;
				background: url(../images/icons/vector-mail.png) no-repeat 0 0;
			}
		}

	}
}