.info{
	&-heading{
		color: $block-heading-color;
		h2{
			font-weight: $h2-font-weight;
		}
	}
	&-list{
		text-align: left;
	}	
	&-item{
		position: relative;
		line-height: 38px;
		&::before{
		position: absolute;
		top: 5px;
		left: 0;			
		content: "";
		display: inline-block;
		width: 26px;
		height: 26px;
		background: transparent url(../images/icons/check.png) no-repeat 0 0;
		}		
	}
}