$testemonials-padding: 10% 0 !default;
$testemonials-font-size: 22px !default;
$testemonials-margin-bottom: 4% !default;
$testemonials-text-padding: 20% 3% 0 0 !default;
$testemonials-caption-line-height: 22px !default;
$testemonials-title-color: #6fb048 !default;

.testemonials{
	padding: $testemonials-padding;
	&-text{
	font-size: $testemonials-font-size;
	padding: $testemonials-text-padding;
	margin-bottom: $testemonials-margin-bottom;
	}
	&-caption{
	line-height: $testemonials-caption-line-height;
	}
	&-title{
	color: $testemonials-title-color;
	}
	&-desc{
	
	}
	&-image{

	}
}