//font-family: 'Roboto', sans-serif;
//font-family: 'Merriweather', serif;
//font-family: 'Montserrat', sans-serif;

$body-color: #83a7a5;
$light-color: #fff;

$font-family-base: 'Roboto', Arial, sans-serif;
$font-size-base: 14px;
$line-height-base: 1.57;
$font-family-decor: 'Montserrat', sans-serif;
$font-family-testimonials: 'Merriweather', serif;

$heading-margin-1: 0;
$heading-margin-2: 0;
$heading-margin-3: 0;
$heading-margin-4: 0;
$heading-margin-6: 0;