$footer-bg-color: $gray-darker !default;
$footer-heading-font-family: $font-family-sans-serif !default;
$footer-link-color: $brand-primary !default;
$list-item-padding: 2em !default;
$footer-nav-hover-color: $brand-primary !default;

.footer{	 
	&-menu{
		padding: 2em 0;
	}

	&-heading{
		color: white;
		font-family: $footer-heading-font-family;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
	}
		
	&-logo{
		margin-bottom: 1.5em;
	}

	&-desc{
		margin-bottom: 1.5em;
	}

	&-link{
		position: relative;
		>a {
			color: $footer-link-color;
			&:hover{
				text-decoration: underline;
			}			
		}	
		&::after{
      position: absolute;
      top: 0.5em;
      content: "";
      width: 10px;
      height: 8px;
      background:url('../../src/images/icons/arrow-right.svg') no-repeat; 
      }	
	}

	&-image{
		position: relative;    
    img{
      width: 100%;
    }
    &-hover{
    display: none; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $brand-primary;
    opacity: 0.9;
    &::after{
      position: absolute;
      content: "";
      width: 25px;
      height: 25px;
      background:url('../../src/images/icons/icon-plus.png') no-repeat; 
      }
    }
    &:hover{
      .footer-image-hover{
        display: block;
      }      
    }     
	}
	&-list{
		&-item:first-child{
			position: relative;
			padding-left: $list-item-padding; 
		&::before{
      position: absolute;
      top: 0.1em;
      left: 0;
      content: "";
      width: 25px;
      height: 25px;
      background:url('../../src/images/icons/location.svg') no-repeat; 
      }
    }
		&-item:nth-child(2){
			position: relative;
			padding-left: $list-item-padding;
			&::before{
      position: absolute;
      top: 0.1em;
      left: 0;
      content: "";
      width: 25px;
      height: 25px;
      background:url('../../src/images/icons/mobile-m.svg') no-repeat; 
      }
		}
		&-item:nth-child(3){
			position: relative;
			padding-left: $list-item-padding;
			color: $brand-primary;
			&::before{
      position: absolute;
      top: 0.25em;
      left: 0;
      content: "";
      width: 25px;
      height: 25px;
      background:url('../../src/images/icons/envelop.svg') no-repeat; 
      }
		}
	}

	&-copyright{
    font-size: 14px;
	}


	&-nav{
	 .navbar-nav {    
	 	padding: 1em 0;
  	margin: 0;
    >li>a{
      white-space: pre;
    }
  	>li>a:hover{
  		background-color: transparent;
  		color: $footer-nav-hover-color;
  	}
		}
	}
}

.copyright{
	padding: 2.5em 0;
  p {
    margin: 0;
  }
}




@media screen and (min-width: $screen-xxs-min){
  .footer{  
    &-image{
      &-hover{
        &::after{
        top: 45%;
        left: 47%;    
        }
      }
    }
    &-heading{
      padding: 1em;
      text-align: center;
      text-decoration: underline;
      margin-bottom: 0;
    }
    &-link{
      &::after{
        left: 22%;
      }
    }    
    &-nav{
     .navbar-nav {
        >li{
          display: inline-block;
        }
        >li>a{
          padding: 0.5em;
        }
      }
    }
  }
  .copyright{
    padding: 1em 0 0;
    p {
      margin: 0;
    }
  }
}

@media screen and (min-width: $screen-sm-min){
  .footer{ 
     &-heading{
      text-decoration: none;
    }
    &-link{
      &::after{
        left: 20%;
      }
    }
  }  
 .copyright{
    float: left;
    padding: 1.5em 0;   
  }
}

@media screen and (min-width: $screen-md-min){
  .footer{  
    &-heading{
      text-align: left;
      padding: 0;
      margin-bottom: 2em;
    }
    &-image{
      &-hover{
        &::after{
          top: 42%;
          left: 42%;    
        }
      }
    }
    &-link{
      &::after{
        left: 45%;
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min){
  .footer{  
    &-nav{
     .navbar-nav {
        >li>a{
          padding: 1.5em .5em;
        }
      }
    }    
  }
 .copyright{
    padding: 2.5em 0;   
  }
}


