$navbar-nav-font-size: 15px !default;
$navbar-background-color-1: #fff !default;


//customized styles for navbar
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  text-align: justify;
  background-color: $navbar-background-color-1;
  border-color: transparent;
  &-brand {  
  padding: 1.9em 0 1.5em;
  vertical-align: middle;
  }  
  &-nav {
  vertical-align: middle;
  padding: 1.5em 0;
  > li > a { 
    font-size: $navbar-nav-font-size;
    padding: 1.5em 1em;
    color: $headings-color;
    &:hover{
      color: $brand-primary;
    }
  }  
  .dropdown.open{
    a,
    a:hover,
    a:focus{
      background-color: $gray-lighter;
      border: 1px solid $dropdown-border;
      border-bottom: none;
      z-index: 1100;
      color: $brand-primary;
      }
    }
  }
  &-search{
    position: relative;
    padding: 3em 0;
  }
} 


.navbar-default{
 .navbar-nav {
    > li > a {
      color: $headings-color;
      font-size: 15px;
  
      &:hover,
      &:focus {
        color: $brand-primary;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $brand-primary;
      }
    }
  }
}

#navbar-main {
  /* Added `.affix` class css when the element is >= 170px (Look: line 8 html) */
  &.affix {
    padding: 0 8em;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
}

