$navbar-nav-font-size: 15px !default;
$navbar-background-color-1: #fff !default;


//customized styles for navbar
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  text-align: justify;
  background-color: $navbar-background-color-1;
  border-color: transparent;
  &-brand {  
  padding: 1.9em 0 1.5em;
  vertical-align: middle;
  }  
  &-nav {
  vertical-align: middle;
  padding: 1.5em 0;
  > li > a { 
    font-size: $navbar-nav-font-size;
    padding: 1.5em 1em;
    color: $headings-color;
    font-weight: 900;
    &:hover{
      color: $brand-primary;
    }
  }  
  .dropdown.open{
    a,
    a:hover,
    a:focus{
      background-color: $gray-lighter;
      border: 1px solid $dropdown-border;
      border-bottom: none;
      z-index: 1100;
      color: $brand-primary;
      }
    }
  }
  &-search{
    position: relative;
    padding: 3em 0;
  }
} 


.navbar-default{
 .navbar-nav {
    > li > a {
      color: $headings-color;
      font-size: 15px;
  
      &:hover,
      &:focus {
        color: $brand-primary;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $brand-primary;
      }
    }
  }
}

#navbar-main {
  /* Added `.affix` class css when the element is >= 170px (Look: line 8 html) */
  &.affix {
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
}

@media screen and (min-width: $screen-xxs-min){
  .navbar{
    &-search{
      display: none;
    }
    &-toggle{
      margin-top: 2.5em;
      margin-bottom: 2.5em;    
    }
    &-nav {
      > li > a { 
        padding: 0;
      }
    }
    li.dropdown{
      display: none;
    }
  }
  #navbar-main {
    /* Added `.affix` class css when the element is >= 170px (Look: line 8 html) */
    &.affix {
      padding: 0 1em;
    }
  } 
}

@media screen and (min-width: $screen-sm-min){
.navbar{
    &-search{
      display: block;
    }
    &-nav {
      > li > a { 
        padding: 1em 0.5em;;
      }
    }    
  }
  #navbar-main {
    /* Added `.affix` class css when the element is >= 170px (Look: line 8 html) */
    &.affix {
      padding: 0 2.5em;
    }
  }  
}
@media screen and (min-width: $screen-md-min){
.navbar{
    &-nav {
      padding: 2em 0;     
    }
    li.dropdown{
    display: block;
    } 
  }
  #navbar-main {
    /* Added `.affix` class css when the element is >= 170px (Look: line 8 html) */
    &.affix {
      padding: 0 4em;
    }
  }
}
@media screen and (min-width: $screen-md-min){
  #navbar-main {
    /* Added `.affix` class css when the element is >= 170px (Look: line 8 html) */
    &.affix {
      padding: 0 13em;
    }
  }
}

