@font-face{
 font-family: 'Adobe Heiti Std';
 src: url('../../fonts/Adobe Heiti Std R/Adobe Heiti Std R.eot');
 src: url('../../fonts/Adobe Heiti Std R/Adobe Heiti Std R.eot#iefix') format('embedded-opentype'),
			url('../../fonts/Adobe Heiti Std R/Adobe Heiti Std R.woff') format('woff'),
			url('../../fonts/Adobe Heiti Std R/Adobe Heiti Std R.ttf') format('truetype'),
			url('../../fonts/Adobe Heiti Std R/Adobe Heiti Std R.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face{
 font-family: 'Ebrima';
 src: url('../../fonts/Ebrima/Ebrima.eot');
 src: url('../../fonts/Ebrima/Ebrima.eot#iefix') format('embedded-opentype'),
			url('../../fonts/Ebrima/Ebrima.woff') format('woff'),
			url('../../fonts/Ebrima/Ebrima.ttf') format('truetype'),
			url('../../fonts/Ebrima/Ebrima.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face{
 font-family: 'Helvetica LT';
 src: url('../../fonts/Helvetica LT/Helvetica LT.eot');
 src: url('../../fonts/Helvetica LT/Helvetica LT.eot#iefix') format('embedded-opentype'),
			url('../../fonts/Helvetica LT/Helvetica LT.woff') format('woff'),
			url('../../fonts/Helvetica LT/Helvetica LT.ttf') format('truetype'),
			url('../../fonts/Helvetica LT/Helvetica LT.svg') format('svg');
 font-weight: 300;
 font-style: normal;
}

@font-face{
 font-family: 'Helvetica';
 src: url('../../fonts/Helvetica/Helvetica.eot');
 src: url('../../fonts/Helvetica/Helvetica.eot#iefix') format('embedded-opentype'),
			url('../../fonts/Helvetica/Helvetica.woff') format('woff'),
			url('../../fonts/Helvetica/Helvetica.ttf') format('truetype'),
			url('../../fonts/Helvetica/Helvetica.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face{
 font-family: 'Microsoft YaHei';
 src: url('../../fonts/Microsoft YaHei/Microsoft YaHei.eot');
 src: url('../../fonts/Microsoft YaHei/Microsoft YaHei.eot#iefix') format('embedded-opentype'),
			url('../../fonts/Microsoft YaHei/Microsoft YaHei.woff') format('woff'),
			url('../../fonts/Microsoft YaHei/Microsoft YaHei.ttf') format('truetype'),
			url('../../fonts/Microsoft YaHei/Microsoft YaHei.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face{
 font-family: 'Microsoft YaHei Bold';
 src: url('../../fonts/Microsoft YaHei Bold/Microsoft YaHei Bold.eot');
 src: url('../../fonts/Microsoft YaHei Bold/Microsoft YaHei Bold.eot#iefix') format('embedded-opentype'),
			url('../../fonts/Microsoft YaHei Bold/Microsoft YaHei Bold.woff') format('woff'),
			url('../../fonts/Microsoft YaHei Bold/Microsoft YaHei Bold.ttf') format('truetype'),
			url('../../fonts/Microsoft YaHei Bold/Microsoft YaHei Bold.svg') format('svg');
 font-weight: bold;
 font-style: normal;
}