//
// Customized Variables
// --------------------------------------------------

 //== Colors
$gray-dark:             #434a54;
$gray:                  #aab2bd;
$gray-light:            #656d78;
$gray-lighter:          #e6e9ed;

$brand-primary:         #3bafda;
$brand-success:         #8cc152;
$brand-info:            #48CFAD;
$brand-warning:         #f6bb42;
$brand-danger:          #da4453;


//== Scaffolding
//** Background color for `<body>`.
$body-bg:               #f1f2f6;

//** Global textual link color.
$link-color:            #fff;
//** Link hover color set via `darken()` function.
$link-hover-color:      $brand-primary;
//** Link hover decoration.
$link-hover-decoration: none;


 //== Typography
//
//## Font
$font-family-sans-serif-light:  'Helvetica LT', Arial, sans-serif;
$font-family-sans-serif-second: 'Adobe Heiti Std', Arial, sans-serif;
$font-family-sans-serif-third:  'Ebrima', Arial, sans-serif;
$font-family-serif:             'Microsoft YaHei', "Times New Roman", Times, serif;
$font-family-serif-bold: 		    'Microsoft YaHei Bold', "Times New Roman", Times, serif;

//** Default monospace fonts for`<code>`, `<kbd>`, and `<pre>`.
$font-family-base:              $font-family-serif;

$font-size-larger:        	    floor(($font-size-base * 1.6)); // ~22px*/
$font-size-larger-2:        	  ceil(($font-size-base * 2.4)); // ~34px*/
$font-size-largerst:	  				floor(($font-size-base * 4.6)); // ~64px*/
$font-size-smaller:         	  ceil(($font-size-base * 0.71)); // ~10px	  

$font-size-h1:            		  floor(($font-size-base * 3.6)); // ~50px
$font-size-h2:            		  ceil(($font-size-base * 2.85)); // ~40px
$font-size-h3:            		  ceil(($font-size-base * 2.14)); // ~30px
$font-size-h4:            		  ceil(($font-size-base * 1.35)); // ~19px
$font-size-h5:            		  ceil(($font-size-base * 1.25)); //~18px
$font-size-h6:            		  $font-size-base; // ~14px

//== Buttons
$btn-normal-color:               #fff;
$btn-normal-bg:                  $gray;
$btn-normal-border:              darken($btn-normal-bg, 5%);

$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             darken($btn-primary-bg, 5%);

$btn-success-bg:                 $brand-success;
$btn-success-border:             darken($btn-success-bg, 5%);

$btn-info-bg:                    $brand-info;
$btn-info-border:                darken($btn-info-bg, 5%);

$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             darken($btn-warning-bg, 5%);

$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              darken($btn-danger-bg, 5%);


//== Labels
$label-normal-bg:             $gray;
//** Default label background color
$label-default-bg:            #fff;
//** Primary label background color
$label-primary-bg:            $brand-primary;
//** Success label background color
$label-success-bg:            $brand-success;
//** Info label background color
$label-info-bg:               $brand-info;
//** Warning label background color
$label-warning-bg:            $brand-warning;
//** Danger label background color
$label-danger-bg:             $brand-danger;

$label-default-font-color:    #000;

$label-font-weight:           normal;

//== Dropdowns

//** Background for the dropdown menu.
$dropdown-bg:                    					$gray-dark;
$dropdown-background-color:               $gray-dark;
$dropdown-background-color-hover:         $gray-light;

$dropdown-normal:                         $gray-light;
$dropdown-default:                        #fff;

$dropdown-padding:                        5px 20px;

$dropdown-radius:                         4px;

$dropdown-font-size:                      14px;
$dropdown-font-color-dark:                $gray-dark;
$dropdown-font-color-light:               #fff;
$dropdown-font-weight:                    700;



$popover-bg:                              $gray-dark;

//** Popover title background color
$popover-title-bg:                    	  darken($popover-bg, 3%);

//** Popover arrow color
$popover-arrow-color:                 		$popover-bg;


$popover-background-color:               $gray-dark;
$popover-font-color:                     #fff;
$popover-title-font-color:               $gray;

//Stepper
$stepper-primary:                        #3bafda;
$stepper-primary-hover:                  lighten($stepper-primary, 10%);
$stepper-arrow-width:                    20px;


