
//Blocks bgs
$bg-primary: $primary-color !default;
$bg-primary-light: $primary-color-light !default;
$bg-primary-lighter: $primary-color-lighter !default;
$bg-secondary: $secondary-color !default;


.bg{
	//blocks bgs
	&-primary{background: $bg-primary;}
	&-light{background: $bg-primary-light;}
	&-lighter{background: $bg-primary-lighter;}
	&-secondary{background: $bg-secondary;}

}