$btn-background-image: linear-gradient(to top, #2aacc8 0%, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%) !default;
$btn-box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2) !default;
$btn-text-transform: uppercase !default;
$btn-text-color: #000 !default;

$btn-icon-color: #fff !default;

.btn{
  background-image: $btn-background-image;
	box-shadow: $btn-box-shadow;
	@include button-size(15px, 15px, 18px, 1.25em, 8px);	
	text-transform: $btn-text-transform;
	color: $btn-text-color;
	span{
		color: $btn-icon-color;
		padding-right: 10px;
	}
}

@media screen and (min-width: $screen-xxs-min){
	.download{	
		.btn{
	@include button-size(10px, 10px, 12px, 1em, 4px);	
		}
	}
}
@media screen and (min-width: $screen-xs-min){
	.download{	
		.btn{
	@include button-size(10px, 10px, 15px, 1em, 4px);
		}
	}
}
@media screen and (min-width: $screen-sm-min){
	.download{	
		.btn{
	@include button-size(10px, 10px, 15px, 1.2em, 6px);	
		}
	}
}
@media screen and (min-width: $screen-md-min){
	.download{	
		.btn{
	@include button-size(10px, 9px, 15px, 1.2em, 8px);	
		}
	}
}
@media screen and (min-width: $screen-lg-min){
	.download{	
		.btn{
	@include button-size(15px, 15px, 18px, 1.25em, 8px);	
		}
	}
}