$download-border-color: #81e4ed !default;
$download-padding: 35px !default;
$download-text-padding: 0 100px 0 20px !default;
$download-text-line-height: 1.625em !default;




.download{
	border: 1px solid $download-border-color;
	padding: $download-padding;
	&-text{
		padding: $download-text-padding;
		line-height: $download-text-line-height;
	}
}