$footer-margin-bottom: 40px !default;

$footer-heading-font-size: 15px !default;
$footer-heading-font-weight: 700 !default;
$footer-heading-line-height: 1.25em !default;
$footer-heading-text-transform: uppercase !default;
$footer-heading-margin-bottom: 20px !default; 




.footer{	
	&-top{
		[class*="col-"]{
		margin-bottom: $footer-margin-bottom;
	  } 
	}		
	@media screen and (min-width: $screen-md-min){
		&-top{
			&-padding{
				padding-left: 8px;
			}
		}	
	}
	@media screen and (min-width: $screen-lg-min){
		&-top{
			&-padding{
				padding-left: 25px;
			}
		}	
	}
	&-heading{
	font-size: $footer-heading-font-size;
	font-weight: $footer-heading-font-weight;
	line-height: $footer-heading-line-height;
	text-transform: $footer-heading-text-transform;
	margin-bottom: $footer-heading-margin-bottom;
	}
	&-text{
	padding: 10px 10px 0 0; 
	}
	&-list{

	}
	&-item{
		a{
			color: inherit;
		}
	}
	
	&-bottom{

	}
	&-copyright{
		padding-right: 30%;
	}	
	&-logo{

	}
}
