$map-padding: 10px !default;

$map-thumbnail-background: $primary-color-lighter !default;
$map-thumbnail-border-color: #81e4ed !default;
$map-thumbnail-padding: 20px !default;

$map-caption-padding: 9px !default;
$map-caption-color: #000 !default;
$map-caption-font-weight: 700 !default;


.map{
	padding: 10px;
	.thumbnail{
	background: $map-thumbnail-background;
	border-color: $map-thumbnail-border-color;
	padding: $map-thumbnail-padding;
	}
	&-caption {
    padding: $map-caption-padding;
    color: $map-caption-color;
    font-weight: $map-caption-font-weight;
	}
	&-image{
		img{
			width: 100%;
		}
	}
	&-address{
		padding-left: 20px;
	}	
}