$map-padding: 10px;

$map-thumbnail-background: $primary-color-lighter;
$map-thumbnail-border-color: #81e4ed;
$map-thumbnail-padding: 20px;

$map-caption-padding: 9px;
$map-caption-color: #000;
$map-caption-font-weight: 700;


.map{
	padding: 10px;
	.thumbnail{
	background: $map-thumbnail-background;
	border-color: $map-thumbnail-border-color;
	padding: $map-thumbnail-padding;
	}
	&-caption {
    padding: $map-caption-padding;
    color: $map-caption-color;
    font-weight: $map-caption-font-weight;
	}
	&-image{
		img{
			width: 100%;
		}

	}
}