$navbar-nav-font-size: 13px !default;
$navbar-padding: 2em 0 !default;


//customized styles for navbar
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  text-align: justify;
  padding: $navbar-padding;
}

.navbar-brand {  
  vertical-align: middle;
  width: 50%;
}

.navbar-nav {
    vertical-align: middle;
    >li {
      border-top: 5px solid transparent;
    }
  > li > a {    
    font-size: $navbar-nav-font-size;

  }
  .dropdown.open{
    border-top: 5px solid $primary-color;
    a,
    a:hover,
    a:focus{
      background-color: #fff;
    }
  }
}



  