$navbar-nav-font-size: 13px !default;
$navbar-brand-padding: 30% 0;


//customized styles for navbar
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}


.navbar-brand {
  padding: $navbar-brand-padding;
}


@media (min-width:$grid-float-breakpoint) {
  .navbar-right {
    float: none !important; 
    >li>a{
    	padding-left: 0;
    }   
  }
}
@media (min-width: $screen-md-min) {
  .navbar-right {
    float: right !important;
    >li>a{
    	padding-left: 20px;
    }
  }
}


.navbar-nav {
  > li > a {    
    font-size: $navbar-nav-font-size;
  }
}



  