$portfolio-padding: 2% 0 0;

$portfolio-heading-font-size: 15px !default;
$portfolio-font-weight: 700 !default;
$portfolio-text-transform: uppercase !default;	
$portfolio-margin-bottom: 20px !default;	
$portfolio-border-color: #dfe1e5 !default;

$portfolio-icon-color: $primary-color !default;
$portfolio-icon-font-size: 20px !default;
$portfolio-icon-padding-right: 20px !default;

$portfolio-caption-color: #fff;
$portfolio-caption-font-size: 24px; 
$portfolio-caption-padding: 10px;
$portfolio-caption-line-height: 3.3em;



.portfolio{
	border-bottom: 1px solid $portfolio-border-color;
	padding: $portfolio-padding;
	&-heading{
		font-size: $portfolio-heading-font-size;
		font-weight: $portfolio-font-weight;
		text-transform: $portfolio-text-transform;	
		margin-bottom: $portfolio-margin-bottom;	
		padding-bottom: ($portfolio-margin-bottom)-3;
		border-bottom: 1px solid $portfolio-border-color;
		span{
			color: $portfolio-icon-color;
			font-size: $portfolio-icon-font-size;			
			padding-right: $portfolio-icon-padding-right;
		}
	}
  &-image{
    position: relative;
    &:hover{
      .portfolio-caption{
        bottom: 0;
      }     
    }
  }
  &-caption{
      position: absolute;
      height: 81px;
      bottom: -100%;
      left: 0;
      width: 100%;
      background: $primary-color;          
      text-align: center;
      span{
        color: $portfolio-caption-color;
        font-size: $portfolio-caption-font-size;
        padding: $portfolio-caption-padding;
        line-height: $portfolio-caption-line-height;
      }
  
  }
	.thumbnail{
    border: none;
    padding: 0;
    >img{
      width: 100%;      
    }       
  }
  &-menu{
  	padding-bottom: $portfolio-margin-bottom;
  	margin-bottom: $portfolio-margin-bottom;
  	border-bottom: 1px solid $portfolio-border-color;
  	li> a{
  		color: #000;	
  		&:hover{
  		background-color: $nav-pills-active-link-hover-bg;
  		}
  	}
	}
	&-pagination{
		text-align: center;
		li> a{
  		color: #000; 
  		border: none; 		
  	&:hover{
  		background-color: $pagination-active-bg;
  		}
  	}
  	a.page-toggle{  		
  		background-color: $secondary-color;
  		margin-right: 20px;  		
  	}
  }
 

}

