//Colors
//Bgs colors
$primary-color: #2aacc8 !default;
$primary-color-light: #81e4ed !default;
$primary-color-lighter: #e8fcfe !default;
$secondary-color: #e8ebf1 !default;
//Socials bgs colors
$color-fb: #3b5998 !default;
$color-drib: #e33262 !default;
$color-pint: #c2161c !default;
$color-link: #3399cc !default;
$color-sky: #00aff0 !default;
$color-share: #21a71b !default;
//Font colors
$font-color: #363636 !default;
$font-color-invert: #ffffff !default;



