<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bootflat</title>
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="../css/all.css">
</head>
<body>
	<!-- Accordions-->
	<div class="block">
	  <div class="block-content">
	    <div class="block-inner">
	      <div class="container">
	        <div class="block-heading"><h5>Accordions</h5></div>
	        <div class="row">
	          <div class="col-md-6">
	            <div class="panel-group" id="accordion1">
	              <div class="panel">
	                <div class="panel-heading">
	                  <h4 class="panel-title">
	                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
	                      Collapsible Group Item #1
	                    </a>
	                  </h4>
	                </div>
	                <div id="collapseOne" class="panel-collapse collapse in">
	                  <div class="panel-body">
	                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	                  </div>
	                </div>
	              </div>
	              <div class="panel">
	                <div class="panel-heading">
	                  <h4 class="panel-title">
	                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
	                      Collapsible Group Item #2
	                    </a>
	                  </h4>
	                </div>
	                <div id="collapseTwo" class="panel-collapse collapse">
	                  <div class="panel-body">
	                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	                  </div>
	                </div>
	              </div>
	              <div class="panel">
	                <div class="panel-heading">
	                  <h4 class="panel-title">
	                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
	                      Collapsible Group Item #3
	                    </a>
	                  </h4>
	                </div>
	                <div id="collapseThree" class="panel-collapse collapse">
	                  <div class="panel-body">
	                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-6">
	            <div class="panel-group panel-group-lists" id="accordion2">
	              <div class="panel">
	                <div class="panel-heading">
	                  <h4 class="panel-title">
	                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
	                      Collapsible Group Item #1
	                    </a>
	                  </h4>
	                </div>
	                <div id="collapseFour" class="panel-collapse collapse in">
	                  <div class="panel-body">
	                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	                  </div>
	                </div>
	              </div>
	              <div class="panel">
	                <div class="panel-heading">
	                  <h4 class="panel-title">
	                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
	                      Collapsible Group Item #2
	                    </a>
	                  </h4>
	                </div>
	                <div id="collapseFive" class="panel-collapse collapse">
	                  <div class="panel-body">
	                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	                  </div>
	                </div>
	              </div>
	              <div class="panel">
	                <div class="panel-heading">
	                  <h4 class="panel-title">
	                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
	                      Collapsible Group Item #3
	                    </a>
	                  </h4>
	                </div>
	                <div id="collapseSix" class="panel-collapse collapse">
	                  <div class="panel-body">
	                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>   
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
	<script src="../js/main.js"></script> 
</body>
</html>