<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bootflat</title>
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="../css/all.css">
</head>
<body>
	<!--Forms variants-->
	<div class="block">
	  <div class="block-content">
	    <div class="block-inner">
	      <div class="container">
	        <div class="row">
	          <div class="col-md-12">
	            <div class="block-heading"><h5>Forms</h5></div>
	            <div class="row">
	              <div class="col-md-6">
	                <input type="text" class="form-control" placeholder="Text input">
	              </div>
	              <div class="col-md-6">
	                <input type="text" class="form-control" disabled placeholder="Text input">
	              </div>
	            </div>
	            <div class="row">
	              <div class="col-md-6">
	                <textarea class="form-control" rows="3"></textarea>
	              </div>
	              <div class="col-md-6">
	                <div class="row">
	                  <div class="col-md-12">
	                    <div class="input-group">
	                      <span class="input-group-addon">$</span>
	                      <input type="text" class="form-control">
	                      <span class="input-group-addon">.00</span>
	                    </div>
	                  </div>
	                  <div class="col-md-12">
	                    <div class="input-group">
	                      <div class="input-group-btn">
	                        <button type="button" class="btn btn-danger" tabindex="-1">Action</button>
	                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" tabindex="-1">
	                          <span class="caret"></span>
	                        </button>
	                        <ul class="dropdown-menu">
	                          <li><a href="#">Action</a></li>
	                          <li><a href="#">Another action</a></li>
	                          <li><a href="#">Something else here</a></li>
	                          <li class="divider"></li>
	                          <li><a href="#">Separated link</a></li>
	                        </ul>
	                      </div>
	                      <input type="text" class="form-control">
	                      <div class="input-group-btn">
	                        <button type="button" class="btn btn-primary" tabindex="-1">Action</button>
	                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" tabindex="-1">
	                          <span class="caret"></span>
	                        </button>
	                        <ul class="dropdown-menu">
	                          <li><a href="#">Action</a></li>
	                          <li><a href="#">Another action</a></li>
	                          <li><a href="#">Something else here</a></li>
	                          <li class="divider"></li>
	                          <li><a href="#">Separated link</a></li>
	                        </ul>
	                      </div>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
	            <div class="row">
	              <div class="col-md-6">
	                <div class="form-search search-only">                  
	                  <input type="text" class="form-control search-query">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="input-group form-search">
	                  <input type="text" class="form-control search-query">
	                  <span class="input-group-btn">
	                    <button type="submit" class="btn btn-primary" data-type="last">Search</button>
	                  </span>
	                </div>
	              </div>
	            </div>
	            <div class="row">
	              <div class="col-md-6">
	                <div class="form-group has-success has-feedback">
	                  <label class="control-label" for="inputSuccess2">Input with success</label>
	                  <input type="text" class="form-control" id="inputSuccess2">
	                  <span class="glyphicon glyphicon-ok form-control-feedback"></span>
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group has-warning has-feedback">
	                  <label class="control-label" for="inputWarning2">Input with warning</label>
	                  <input type="text" class="form-control" id="inputWarning2">
	                  <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group has-error has-feedback">
	                  <label class="control-label" for="inputError2">Input with error</label>
	                  <input type="text" class="form-control" id="inputError2">
	                  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="stepper">
	                  <input type="number" class="form-control stepper-input">
	                  <span class="stepper-arrow up"></span>
	                  <span class="stepper-arrow down"></span>
	                </div>
	              </div>        
	            </div> 
	            <div class="row">
	              <div class="col-md-6">
	                <select name="selecter_basic" class="form-control" data-selecter-options='{"label":"Jump Sites","external":"true"}'>
	                  <option value="http://google.com">Google Search</option>
	                  <option value="http://boingboing.com">BoingBoing</option>
	                  <option value="http://cnn.com">CNN News</option>
	                </select>
	              </div>
	              <div class="col-md-6">
	                <select name="selecter_multiple" class="form-control" multiple="multiple">
	                  <option value="1" >One</option>
	                  <option value="2">Two</option>
	                  <option value="3">Three</option>
	                  <option value="4">Four</option>
	                  <option value="5">Five</option>
	                  <option value="6">Six</option>
	                  <option value="7">Seven</option>
	                  <option value="8">Eight</option>
	                  <option value="9">Nine</option>
	                  <option value="10">Ten</option>
	                </select>
	              </div>
	            </div>
	            <div class="row">
	              <div class="col-md-6">
	                <div class="row">
	                  <div class="col-md-3">
	                    <div class="checkbox">
	                      <input type="checkbox" id="flat-checkbox-1">
	                      <label for="flat-checkbox-1">default</label>
	                    </div>
	                  </div>
	                  <div class="col-md-3">
	                    <div class="checkbox">
	                      <input type="checkbox" id="flat-checkbox-3" disabled>
	                      <label for="flat-checkbox-3">disabled</label>
	                    </div>
	                  </div>
	                  <div class="col-md-3">
	                    <div class="checkbox">
	                      <input type="checkbox" id="flat-checkbox-2" checked>
	                      <label for="flat-checkbox-2">checked</label>
	                    </div>
	                  </div>                    
	                  <div class="col-md-3">
	                    <div class="checkbox">
	                      <input type="checkbox" id="flat-checkbox-4" checked disabled>
	                      <label for="flat-checkbox-4">checked &#38; disabled</label>
	                    </div>
	                  </div>
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="row">
	                  <div class="col-md-3">
	                    <div class="radio">
	                      <input type="radio" id="flat-radio-1">
	                      <label for="flat-radio-1">default</label>
	                    </div>
	                  </div>
	                  <div class="col-md-3">
	                    <div class="radio">
	                      <input type="radio" id="flat-radio-3" disabled>
	                      <label for="flat-radio-3">disabled</label>
	                    </div>
	                  </div>
	                  <div class="col-md-3">
	                    <div class="radio">
	                      <input type="radio" id="flat-radio-2" checked>
	                      <label for="flat-radio-2">checked</label>
	                    </div>
	                  </div>
	                  <div class="col-md-3">
	                    <div class="radio">
	                      <input type="radio" id="flat-radio-4" checked disabled>
	                      <label for="flat-radio-4">checked &#38; disabled</label>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>    
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</body>
</html>