<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bootflat</title>
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="../css/all.css">
</head>
<body>
	<!-- Jumbotron-->
	<div class="block">
	  <div class="block-content">
	    <div class="block-inner">
	      <div class="container">
	        <div class="block-heading"><h5>Jumbotron</h5></div>
	        <div class="row">
	          <div class="col-md-6">
	            <div class="jumbotron">
	              <div class="jumbotron-photo"><img src="../images/jumb1.png" /></div>
	              <div class="jumbotron-contents">
	                <h1>Implementing the HTML and CSS into your user interface project</h1>
	                <h2 class="h1">HTML Structure</h2>
	                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	                <h2 class="h1">CSS Structure</h2>
	                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-6">
	            <div class="jumbotron">
	              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	                <ol class="carousel-indicators">
	                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	                </ol>
	                <div class="carousel-inner">
	                  <div class="item active"><img src="../images/jumb2.png"></div>
	                  <div class="item"><img src="../images/slider2.jpg"></div>
	                  <div class="item"><img src="../images/type-img.png"></div>
	                </div>
	                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
	                  <span class="glyphicon glyphicon-chevron-left"></span>
	                </a>
	                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
	                  <span class="glyphicon glyphicon-chevron-right"></span>
	                </a>
	              </div>
	              <div class="jumbotron-contents">
	                <h1>Implementing the HTML and CSS into your user interface project</h1>
	                <h2 class="h1">HTML Structure</h2>
	                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	                <h2 class="h1">CSS Structure</h2>
	                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>  

	<!-- Thumbnails and Modals-->
	<div class="block">
	  <div class="block-content">
	    <div class="block-inner">
	      <div class="container">          
	        <div class="row">
	          <div class="col-md-6">
	            <!-- Thumbnails-->
	            <div class="row"> 
	              <div class="block-heading"><h5>Thumbnails</h5></div>
	              <div class="col-sm-6">
	                <div class="thumbnail">
	                  <img class="img-rounded" src="../images/progress1.png" >
	                  <div class="caption text-center">
	                    <h5>Thumbnail label</h5>
	                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...</p>
	                    <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	                  </div>
	                </div>
	              </div>
	              <div class="col-sm-6">
	                <div class="thumbnail">
	                  <img class="img-rounded" src="../images/progress2.png">
	                  <div class="caption text-center">
	                    <h5>Thumbnail label</h5>
	                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...</p>
	                    <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	                  </div>
	                </div>
	              </div> 
	            </div>
	          </div> <!--end Thumbnails-->
	          <!--Modals-->
	          <div class="col-md-6">
	            <div class="block-heading"><h5>Modals</h5></div>
	            <!-- Button (to Trigger Modal) -->
	            <a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Launch  Modal</a>
	            <!-- Modal -->
	            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Contact</h4>
                    </div>
                    <div class="modal-body">
                      <p>Feel free to contact us for any issues you might have with our products.</p>
                      <div class="row">
                        <div class="col-xs-6">
                          <label>Name</label>
                          <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-xs-6">
                          <label>Email</label>
                          <input type="text" class="form-control" placeholder="Email">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <label>Message</label>
                          <textarea class="form-control" rows="3">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac</textarea>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-success">Send</button>
                    </div>
                  </div>
                </div>
	            </div>
	          </div>  <!-- end Modals-->         
	        </div>
	      </div>
	    </div>
	  </div>
	</div>  <!-- end Thumbnails and Modals-->
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
	<script src="../js/main.js"></script>
</body>
</html>	