<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bootflat</title>
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="../css/all.css">
</head>
<body>
	<!-- Labels, Badges-->
	<div class="block">
	  <div class="block-content">
	    <div class="block-inner">
	      <div class="container">
	        <div class="labels-badges">

	          <!-- Labels-->
	          <div class="row">
	            <div class="col-md-12">                
	              <div class="block-heading"><h5>Labels</h5></div>
	              <span class="label">Normal</span>&nbsp;
	              <span class="label label-default">Default</span>&nbsp;
	              <span class="label label-primary">Primary</span>&nbsp;
	              <span class="label label-success">Success</span>&nbsp;
	              <span class="label label-info">Info</span>&nbsp;
	              <span class="label label-warning">Warning</span>&nbsp;
	              <span class="label label-danger">Danger</span>
	            </div>
	          </div>

	          <!-- Badges-->
	          <div class="row">
	            <div class="col-md-12">              
	            <div class="block-heading"><h5>Badges</h5></div>
	              <span class="badge">Normal</span>&nbsp;
	              <span class="badge badge-default">Default</span>&nbsp;
	              <span class="badge badge-primary">Primary</span>&nbsp;
	              <span class="badge badge-success">Success</span>&nbsp;
	              <span class="badge badge-info">Info</span>&nbsp;
	              <span class="badge badge-warning">Warning</span>&nbsp;
	              <span class="badge badge-danger">Danger</span>&nbsp;
	            </div>
	          </div>

	        </div>
	      </div>
	    </div>
	  </div>
	</div><!--end  Labels, Badges-->
</body>
</html>