<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bootflat</title>
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="../css/all.css">
</head>
<body>
	<!-- Pills, Breadcrumbs-->
	<div class="block">
	  <div class="block-content">
	    <div class="block-inner">
	      <div class="container">
	        <div class="row">
	          <div class="col-md-6">  
	            <div class="block-heading"><h5>Pills</h5></div>
	              <ul class="nav nav-pills nav-justified">
	                <li class="active"><a href="#">Home <span class="badge">42</span></a></li>
	                <li><a href="#">Profile <span class="badge badge-danger">42</span></a></li>
	                <li class="dropdown">
	                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
	                  <ul class="dropdown-menu">
	                    <li><a href="#">@fat</a></li>
	                    <li><a href="#">@mdo</a></li>
	                  </ul>
	                </li>
	              </ul>              
	              <ul id="myTab2" class="nav nav-pills nav-stacked">
	                <li class="active"><a href="#">Home <span class="badge pull-right">42</span></a></li>
	                <li><a href="#">Profile</a></li>
	                <li class="dropdown"><a href="#">Messages <span class="badge badge-danger pull-right">20</span></a></li>
	              </ul>
	          </div>  
	          <div class="col-md-6">  
	            <div class="block-heading"><h5>Breadcrumbs</h5></div> 
	            <ol class="breadcrumb">
	              <li><a href="#">Home</a></li>
	              <li><a href="#">Library</a></li>
	              <li class="active">Date</li>
	            </ol>
	            <ol class="breadcrumb breadcrumb-arrow">
	              <li><a href="#">Home</a></li>
	              <li><a href="#">Library</a></li>
	              <li class="active"><span>Date</span></li>
	            </ol>
	            <ol class="breadcrumb breadcrumb-arrow">
	              <li><a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
	              <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> Library</a></li>
	              <li class="active"><span><i class="glyphicon glyphicon-calendar"></i> Date</span></li>
	            </ol>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
	<script src="../js/main.js"></script>
</body>
</html>