<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bootflat</title>
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="../css/all.css">
</head>
<body>
	<!--Progresses-->
	<div class="block">
	  <div class="block-content">
	    <div class="block-inner">
	      <div class="container">
	      <div class="block-heading"><h5>Progresses</h5></div> 
	      <div class="row">
	        <div class="col-md-6">            
	          <div class="row">            
	            <div class="col-md-12">
	              <div class="progress">
	                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%</div>
	              </div>
	            </div>
	            <div class="col-md-12">
	              <div class="progress">
	                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
	                  <span class="sr-only">40% Complete (success)</span>
	                </div>
	              </div>
	            </div>
	            <div class="col-md-12">
	              <div class="progress">
	                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
	                  <span class="sr-only">20% Complete</span>
	                </div>
	              </div>
	            </div>
	            <div class="col-md-12">
	              <div class="progress">
	                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
	                  <span class="sr-only">60% Complete (warning)</span>
	                </div>
	              </div>
	            </div>
	            <div class="col-md-12">
	              <div class="progress">
	                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
	                  <span class="sr-only">80% Complete</span>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="col-md-6">            
	          <div class="row">
	            <div class="col-md-12">
	              <div class="progress progress-striped active">
	                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	                  <span class="sr-only">80% Complete (danger)</span>
	                </div>
	              </div>
	            </div>   
	            <div class="col-md-12">
	              <div class="progress progress-striped active">
	                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
	                  <span class="sr-only">40% Complete (success)</span>
	                </div>
	              </div>
	            </div>
	            <div class="col-md-12">
	              <div class="progress progress-striped active">
	                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
	                  <span class="sr-only">20% Complete</span>
	                </div>
	              </div>
	            </div>
	            <div class="col-md-12">
	              <div class="progress progress-striped active">
	                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
	                  <span class="sr-only">60% Complete (warning)</span>
	                </div>
	              </div>
	            </div>
	            <div class="col-md-12">
	              <div class="progress progress-striped active">
	                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
	                  <span class="sr-only">80% Complete (danger)</span>
	                </div>
	              </div>
	            </div>              
	          </div>
	        </div>  
	      </div>
	      </div>
	    </div>
	  </div>
	</div>

	<!--Paginations and Pagers-->
	<div class="block">
	  <div class="block-content">
	    <div class="block-inner">
	      <div class="container">        
	        <div class="row">
	        <div class="col-md-6">
	        <div class="block-heading"><h5>Paginations</h5></div>
	          <ul class="pagination">
	            <li class="active"><a href="#">PREV</a></li>
	            <li><a href="#">1</a></li>
	            <li class="active"><a href="#">2</a></li>
	            <li><a href="#">3</a></li>
	            <li><a href="#">4</a></li>
	            <li class="disabled"><a href="#">5</a></li>
	            <li class="active"><a href="#">NEXT</a></li>
	          </ul>
	        </div>
	          <div class="col-md-6">
	          <div class="block-heading"><h5>Pagers</h5></div> 
	            <ul class="pager">
	              <li class="previous"><a href="#">Previous</a></li>
	              <li class="next disabled"><a href="#">Next</a></li>
	            </ul>
	          </div>              
	        </div>
	      </div>
	    </div>
	  </div>
	</div> <!-- end Paginations and Pagers-->
</body>
</html>