@import "components/variables.scss";
@import "components/mixins.scss";

@import "components/global.scss";
@import "components/type.scss";
@import "components/btns.scss";
@import "components/forms.scss";
@import "components/block.scss";


.clearfix{
	@extend %clearfix;
}
// bgs
.bg {
	&-carousel{
		background-image: url("../images/owl-bg.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	&-dark {
		background-color: $bg-dark;
		color: #fff;
	}
	&-darken {
		background-color: $bg-darken;
		color: #fff;
	}
	&-grey{
		background-color: $bg-grey;
		color: #000;
	}
	&-light-grey{
		background-color: $bg-light-grey;
		color: #000;
	}
	&-primary {
		background-color: $bg-primary;
	}
}

//padding
.pad{
	&-10{
		padding: 1% 0;
	}
	&-20{
		padding: 2% 0;
	}
	&-2-4{
		padding: 2% 0 4%;
	}
	&-3-6{
		padding: 3% 0 6%;
	}
	&-2012{
		padding: 2% 0 1.2%;
	}

	&-30{
		padding: 3% 0;
	}
	&-40{
		padding: 4% 0;
	}
	&-50{
		padding: 5% 0;
	}
	&-100{
		padding: 10% 0;
	}
	&-130{
		padding: 13% 0;
	}
	&-1{
		padding: 1%;
	}
	&-2{
		padding: 2%;
	}
	&-051{
		padding: 0.5% 1%;
	}
	&-l15{
		padding-left: 15%;
	}
	&-l1{
		padding-left: 1%;
	}

	&-4-6{
		padding: 4% 6%;
	}
}

//margin
.marg{
	&-r-1{
		margin-right: -1%;
	}
	&-r3{
		margin-right: 3%;
	}	
	&-r2{
		margin-right: 2%;
	}	
	&-r1{
		margin-right: 1%;
	}	
	&-r0{
		margin-right: 0;
	}
	&-r10{
		margin-right: 10%;
	}
	&-b10{
		margin-bottom: 10%;
	}
	&-b5{
		margin-bottom: 5%;
	}
	&-b1{
		margin-bottom: 1%;
	}
	&-b0{
		margin-bottom: 0;
	}
	&-l1{
		margin-left: 1%;
	}
	&-l1{
		margin-left: 1%;
	}
	&-l-1{
		margin-left: -1%;
	}

}

//owl-styles
.owl-carousel .owl-stage-outer{
	display: table-row-group;
}

.owl-carousel .owl-controls {
	width:$container-width/$body-max-width*100%;
}
.owl-theme .owl-dots {
  text-align: right;
}
.owl-theme .owl-dots .owl-dot span {
      background: transparent;
      border: 1px solid #ffffff;
    }
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {   
	background: #ffffff; 
}

//card caption styles
.card{	
	position: relative;	 	
	&-caption{
		z-index: 1;
		text-transform: $text-transform-upper;
	}
	&-title{
		font-family: $heading-font-family;
		font-weight: $heading-font-weight;
	}
	&-desc{
		color: $link-color;
		font-size: $heading-font-size-5;
		text-transform: none;
	}
	&-img{
		z-index:-1;
	}
}
	

//hover effects
//-navbar 
.block-navbar li{
	&.active{
    border: 1px solid $primary-color;
    color: $primary-color;
    }
   &:hover{
    border: 1px solid $link-color;
    }   
  &.active a{
    color: $primary-color;
  }    
  &:hover a{
  	color: $link-color;
  }    
}

//-card

li{
	.block-socials{
		&-hover{
			position: absolute;
			top: -100%;
			left: 0;
		}
	}
	.card-caption{
		&-hover{
			position: absolute;
			bottom: -100%;
			left: 0;
			width: 100%;
			background: $bg-darken;
			padding: 4.5% 0 3% 5%;
		}
	}

	&:hover{
		.hover-bg{
			background: $bg-dark;

		}		
		.block-socials{
			&-hover{				
				top: 35%;
				left: 20%;
			}
		}
		.card-caption{		
			&-hover{
				bottom: 1%;
				left: 0;
			}
		}
		.card-title,
		.card-desc{
			color: $color-light;
		}
		.card-2{
			&::after{
			position: absolute;
      top: 40%;
			left: 47%;
			content: "";
			width: 25px;
			height: 25px;
			background:url('../images/icons/glyphicons_432_plus.png') no-repeat; 
		}
		}
	}
}

//hover icons footer
.block-footer{
	img:hover{
		transform: scale(1.1);
	}
}


