$body-max-width: 1360px !default;
$container-width: 1180px !default;

html {
    box-sizing: border-box;
}
*,
&:before,
&:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    max-width: $body-max-width;
    counter-reset: 0; 
}
img {
    max-width: 100%;
    height: auto;
}
a{
	text-decoration: none;
	display: block;
}
.wrapper {
	overflow: hidden;
	display: table;
	width: 100%;
	table-layout: fixed;
}

.container{
	width: $container-width/$body-max-width*100%;
	margin: 0 auto;	
}

.footer {
	display: table-footer-group;
	height: 1%;
}
