//colors
$primary-color:#23b7a4;
$link-color: #a4aead;
$color-light: #fff; 
$bg-dark: #3a454d;
$bg-darken: #1d2126;
$bg-grey: #c8cdd0;
$bg-light-grey: #e1e6ea;
$bg-dark-grey: #4e5a62;
$bg-primary: #ffffff;  

//heading styles
$heading-margin-1: 0.9em 0;
$heading-margin-4: 0;

//paragraph styles
$margin-bottom-p: 2.5em;

//line-height styles
$line-height-base: 1.6em;

//font styles
$font-family-base: 'Open Sans', sans-serif;
$heading-font-family: 'Quattrocento Sans', sans-serif;

//form-styles
$form-font-size: 14px;
$form-font-family: $heading-font-family;
$form-color: $link-color;
$form-text-transform: uppercase;
$form-border: none;
$input-border: none;
$input-bg-color: #eaeef1;
$input-padding: 3%;
$input-outline: 1px solid $primary-color;
