@import "components/variables.scss";
@import "components/mixins.scss";






@import "components/global.scss";
@import "components/type.scss";
@import "components/btns.scss";
@import "components/forms.scss";
@import "components/block.scss";
@import "components/grid.scss";
@import "components/navbar.scss";
@import "components/feature.scss";
@import "components/testemonials.scss";
@import "components/card.scss";
@import "components/footer.scss";
@import "components/socials.scss";
@import "components/padding.scss";
@import "components/margin.scss";
@import "components/info.scss";
@import "components/team.scss";
@import "components/headquoters.scss";


// bgs
.bg {
	&-grey {
		background-color: #eef1ec;
	}	
	&-primary {
		background-color: #2d6e70;
	}
	&-gradient{
	background-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
	}
	&-tw{
		background-color: #55acee;
	}
	&-fb{
		background-color: #3b5998;
	}
	&-inst{
		background-color: #3f729b;
	}
	&-drib{
		background-color: #ea4c89;
	}
	&-git{
		background-color: #333;
	}
}

//colors
.color{
	&-light{
		color: $light-color;
	}
	&-grey{
		color: #83a7a5;
	}
}





